{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>FlowChart</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="{% static '/dist/js/about.d53a96fa.js' %}" rel="prefetch">
    <link href="{% static '/dist/css/app.9b9bf77e.css' %}" rel="preload" as="style">
    <link href="{% static '/dist/css/chunk-vendors.d6f3ed2a.css' %}" rel="preload" as="style">
    <link href="{% static '/dist/js/app.e34da5a4.js' %}" rel="preload" as="script">
    <link href="{% static '/dist/js/chunk-vendors.80113753.js' %}" rel="preload" as="script">
    <link href="{% static '/dist/css/chunk-vendors.d6f3ed2a.css' %}" rel="stylesheet">
    <link href="{% static '/dist/css/app.9b9bf77e.css' %}" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but flowchart_1 doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id="app"></div>
    <script src="{% static '/dist/js/chunk-vendors.80113753.js' %}"></script>
    <script src="{% static '/dist/js/app.e34da5a4.js' %}"></script>
</body>

</html>